autogluon
fastapi
google-cloud-storage
ipython>=8.10
joblib
jupyterlab>=3.0
kedro[jupyter]~=0.19.13
kedro-datasets>=3.0
kedro-viz>=6.7.0
notebook
numpy
pandas
pydantic
pyspark
scikit-learn~=1.5.1
uvicorn
gradio